form{
    margin: 70px 0 px 500px;
    width: 500px;
    text-align: left;
}

label{
    display: block;
    margin: 10px 10px 10px 0;
}

input{
    display: block;
    height: 30px;
}

body{
    background-color: black;
    color: aliceblue;
}

.btn{
    background-color: #3882c7;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
}